



<div class="container">

  
    <div class="row align-items-center my-5">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <img src="assets/images/myself.jpg"  width="270" height="380" >
        </div>

        <div class="col-sm-9 col-md-6 col-lg-8">
            <h2 class="font-weight-light">Komaldeep Kaur</h2>
            <p> Currently, I am pursuing an Advance Diploma degree from Centennial College in Canada. <br>If everything goes well,
              I hope to graduate with CGPA OF 3.5.<br> I have knowledge of various programming languages
               like C#, Java, Python, ASP.net.<br>
              Throughout the years, I have developed a value of honesty, and responsibility which guides every of my activities.
              This is my personal website that helps showcase my recent works. Hope you enjoy going through my work

            </p>


            <a id="submit" class="btn btn-primary" href="/assets/Komaldeep_resume.pdf">View My Resume</a>

        </div>

    </div>

