

<div class="bg-secondary text-black">
    <div class="container text-center">
      <h1>Welcome to Komal's Portfolio</h1>
    </div>
  </div>

<!-- Contact -->

    <div class="container">

        <div id="info" class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default text-center">

                <h6>Komaldeep Kaur</h6>
                <h6>2303 Eglinton Avenue East, Toronto, ON, Canada</h6>
                <h6>Email: KD00441@gmail.com</h6>
                <h6>Cell: +1 (437) 998 8571</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Contact Me</h2>
                <h3 class="section-subheading text-muted">Please, Login to see my contact list.</h3>
            </div>
        </div>

        <div *ngIf="isLoggedIn()" class="row">
            <div class="col-lg-4 text-center"></div>
            <div class="col-lg-4 text-center">
                <div class="card">
                    <h5 class="card-header alert-success">Secure</h5>
                    <div class="card-body">
                        <a routerLink="contact-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Contact List</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

