
<div class="bg-secondary text-black">
    <div class="container text-center">
      <h1>Welcome to Komal's Portfolio</h1>
    </div>
  </div>
<div class="container">


    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">

                <img class="card-img-top" src="assets/images/member.png" >

                <div class="card-body">
                    <h4 class="card-title">Registration Form</h4>
                    <p class="card-text">Club Membership Registration Form Validation,  Tools used: JavaScript, HTML & CSS, Visual Studio</p>
                </div>
                <div class="card-footer">
                    <a routerLink="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/bmi.png" >
                <div class="card-body">
                    <h4 class="card-title">BMI Calculator</h4>
                    <p class="card-text">BMI Calculator: used programming language C#, and visual studio as a tool</p>
                </div>
                <div class="card-footer">
                    <a routerLink="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/sdlc.jpg" >
                <div class="card-body">
                    <h4 class="card-title">SDLC</h4>
                    <p class="card-text">ByCentennial-Selling used and new books.<br>
                      Tools: MS Visio, Visual Paradigm, MS Access</p>
                </div>
                <div class="card-footer">
                    <a routerLink="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/java.PNG" >
                <div class="card-body">
                    <h4 class="card-title">Menu Web Application</h4>
                    <p class="card-text">Worked with JSP pages, servlets and java EE. Tool: Eclipse</p>
                </div>
                <div class="card-footer">
                    <a routerLink="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>



</div>
