
<div class="bg-secondary text-black">
    <div class="container text-center">
      <h1>Welcome to Komal's Portfolio</h1>
    </div>
  </div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Tutoring in following courses:</h2>

                <h3 class="section-subheading text-muted">
                  Programming I, II, III<br>
                  Mobile Application Development<br>
                  API Engineering and Cloud Computing<br>
                  Advance Database Concepts<br>
                  Java EE Programming<br>
                  Client-side web development<br>
                  Unix/Linux Operating System<br><br></h3>
            </div>
        </div>

<div class="row text-center">
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-code"></i>
      </span>
      <h4 class="service-heading">Programming</h4>
      <p class="text-muted">Efficient in programming languages like C#,<br> Java, C++, ASP.net, Python and SQL</p>
         <a href="#" class="btn btn-primary">View More!</a>
    </div>
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
          <i class="fa fa-wpforms" aria-hidden="true" style="font-size:60px;color:black;"></i>

      </span>
      <h4 class="service-heading">Web developer</h4>
      <p class="text-muted">Knowledge of HTML/XHTML, CSS,<br> JavaScript and jQuery. </p>
         <a href="#" class="btn btn-primary">View More!</a>
    </div>
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
          <i class="fa fa-database" aria-hidden="true" style="font-size:60px;color:black;"></i>
      </span>
      <h4 class="service-heading">Database Adiministration</h4>
      <p class="text-muted">Knowledge of database queries, theory, <br> design,
        and RDMS.</p>
         <a href="#" class="btn btn-primary">View More!</a>
    </div>
  </div>
</div>
</section>
